.ui-button{
    width: 160px;
    height: 40px;
    font-size: 17px;
}

.rateBg{
    background-image : url("../../assets/images/reviews.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 667px;
}