<div class="rateBg">
    <div style="padding-top: 95px;margin-left: 122px;">
        <p-growl [value]="msgs" life="1500"></p-growl>
        <div style="margin-bottom: 20px; margin-left: 240px;">
            <p-rating [(ngModel)]="rateDetails.value" (onRate)="handleRate($event)" (onCancel)="handleCancel($event)"></p-rating> 
            <span *ngIf="msg" style="margin-left:10px">{{msg}}</span>
        </div>
        <div style="margin-bottom: 20px; margin-left: 240px;">
            <textarea rows="5" cols="55" pInputTextarea autoResize="autoResize" [(ngModel)]="rateDetails.review"></textarea>
        </div>
        <div style="margin-bottom: 20px; margin-left: 415px;">
            <button pButton type="text" (click)="submit()" class="ui-button-success" label="Submit" class="ui-button" [disabled]=" (rateDetails.value == null) || (rateDetails.review == '' )"></button>
        </div>
        <div style="margin-left: 415px;">
            <button pButton type="text" (click)="showListPage()" label="List Of Books" class="ui-button"></button>
        </div>
    </div>
</div>