.divSpacing{
    margin-bottom: 30px;
    margin-left: 300px;
}

.divSpacing .ui-inputtext{
    width: 353px;
    height: 33px;
}

.requestsButton .ui-button{
    width: 153px;
    height: 40px;
    font-size: 17px;
    margin-left: 100px;
}

.contentDiv{
    border: 1px solid transparent;
    width: 50%;
    margin-left: 186px;
    padding-top: 57px;
}

.mainBg{
    background-image : url("../../assets/images/booksbackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 992px;
}