<div class="messagesBg">
    <div class="messagesDiv">
        <span>Book Owner EmailId : {{messagesDetails.bookOwnerEmailId}}</span><br>
        <span>Book Name : {{messagesDetails.bookName}}</span><br>
        <span>ISBN : {{messagesDetails.isbn}}</span><br>
        <span>Date : {{messagesDetails.date}}</span><br>
        <span>Your request has been placed successfully</span>
    </div>
    <div style="margin-left: 415px;">
        <button pButton type="text" (click)="showListPage()" label="List Of Books" class="ui-button"></button>
    </div>
</div>