.messagesButton{
    float: left;
    margin-left: 301px;
}

.messagesButton .ui-button{
    width: 110px;
    height: 40px;
    font-size: 17px;
}

.addBookButton{
    float: left; 
    margin-left: 100px;
}

.addBookButton .ui-button{
    width: 122px;
    height: 40px;
    font-size: 17px;
}



.requestsButton{
    float: left; 
    margin-left: 100px;
}

.requestsButton .ui-button{
    width: 110px;
    height: 40px;
    font-size: 17px;
}

.logoutButton{
    float: left; 
    margin-left: 100px;
}

.logoutButton .ui-button{
    width: 110px;
    height: 40px;
    font-size: 17px;
}

.rateButton{
    float: left; 
    margin-left: 100px;
}
.rateButton .ui-button{
    width: 110px;
    height: 40px;
    font-size: 17px;
}